## gatway server
backend/gatway/node_modules/
backend/gatway/.env

## auth server
backend/services/auth/node_modules/
backend/services/auth/.env

## agent server
backend/services/agent/node_modules/
backend/services/agent/.env

## chat server
backend/services/chat/node_modules/
backend/services/chat/.env

## payment server
backend/services/payment/node_modules/
backend/services/payment/.env

## frontend
frontend/node_modules
frontend/.env

